XSD/fichas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <element name="fichas">
        <complexType>
            <sequence>
                <element name="ficha" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="nombre" type="xs:string" />
                            <element name="edad" type="xs:integer" />
                        </sequence>
                        <attribute name="numero" type="xs:integer" />
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</xs:schema>
